@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-3xl;
    }
    h2 {
        @apply text-2xl;
    }
    h3 {
        @apply text-xl;
        }
    h4 {
        @apply text-lg;
        }
    h5 {
        @apply text-base;
    }
    h6 {
        @apply text-sm;
    }
}

input:focus{
    outline: none;
}

.nv-z-1104 {
    z-index: 1104;
}

.deep-shadow {
    box-shadow: 2px 2px 4px 0 rgb(48 48 83 / 50%);
}

.weak-shadow {
    box-shadow: 2px 2px 2px 0 rgb(48 48 83 / 40%);
}

/* background-color: rgba(82, 103, 139, var(--tw-bg-opacity)); */
.nav-shadow {
    box-shadow: 0 2px 8px 0 rgb(48 48 83 / 50%);
}

.nv-w-3\/13 {
    width: 23%;
}

.nv-h-9\/10 {
    height: 90%;
}

.h-15\/16 {
    height: 96%;
}

.max-h-152 {
    max-height: 40rem;
}

.nv-purple {
    color: #4F46E5
}

.nv-bg-purple {
    background-color: #4F46E5
}

.hover\:nv-purple:hover {
    color: #35309d
}

.hover\:nv-bg-purple:hover {
    background-color: #4039bb
}

.nv-btn {
  display: inline-block;
  cursor: pointer;
  /* -webkit-user-select: none;
  -moz-user-select: none; */
  /* user-select: none;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative; */
  color: #ffffff;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}
  
.nv-btn-shadow {
  box-shadow: 2px 2px 4px 0 rgb(48 48 83 / 40%);
}
  
.nv-btn:active {
  box-shadow: 2px 2px 4px 0 rgb(48 48 83 / 50%);
  transform: translateY(1px);
}

.nv-btn-sm {
  font-size: 0.875rem;
  padding: 0.4rem 0.4rem;
}
  
.nv-btn-md {
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
}

.nv-btn-lg {
  font-size: 1.25rem;
  padding: 0.5rem 0.5rem;
}

.nv-btn-xl {
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem;
}

.loading-spinner {
  display: inline-block;
  position: relative;
  width: 24px; /* Adjust the width and height as needed */
  height: 24px;
}
  
.loading-spinner::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid #3498db; /* Adjust the color as needed */
  border-radius: 50%;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  animation: spin 1s linear infinite; /* Adjust animation duration as needed */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
